    body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Noto Serif JP", serif;
}

/* ログインボックス */
.login-container {
    flex: 1 ;
    background-color: #f9f9f9;
    border: 6px solid #8B4513;
    border-radius: 2px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 50%;
    padding-bottom: 30px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin: 20px;
}

/* エラーメッセージ */
.error-message {
    color: #d60000;
    font-size: 14px;
    margin-bottom: 10px;
}

/* 入力フォーム全体 */
.login-form {
    width: 80%;
    margin: 0 auto;
}

/* ラベル */
.login-form label {
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* 入力フィールド */
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    border: 2px solid #999;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
}

/* 登録ボタン */
.register-button {
    width: 40%;
    padding: 8px;
    margin: 15px auto;
    background-color: #8B4513;
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    display: block;
}

.register-button:hover {
    background-color: #a0522d;
}

/***ログイン画面に戻るボタン******/
.back-to-login {
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: #8B4513;
    text-decoration: underline;
    cursor: pointer;
}

.back-to-login:hover {
    color: #a0522d;
}

.username-error,.email-error,.password-error{
    text-align: left;
    display: none;
    color: #d60000;
    font-size: 1rem;
    margin-top: 3px;
}

/* 未入力の処理 */
input[type="text"]:invalid:focus ~ .username-error{
    display: none;
}
input[type="email"]:invalid:focus ~ .email-error{
    display: none;
}
input[type="password"]:invalid:focus ~ .password-error{
    display: none;
}

input[type="text"]:invalid:not(:focus) ~ .username-error {
    display: block;
}
input[type="email"]:invalid:not(:focus) ~ .email-error {
    display: block;
}
input[type="password"]:invalid:not(:focus) ~ .password-error {
    display: block;
}